---
import type { PokemonStats, PokemonDetails } from "../../types";
import { fetchData } from "../../util/fetchData";
const { pokemonName } = Astro.params;


const [pokemonStats, pokemonDetails] = await Promise.all([
  fetchData<PokemonStats>(
    `https://pokeapi.co/api/v2/pokemon-species/${pokemonName}`
  ),
  fetchData<PokemonDetails>(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`),
]);
---

<main>
  <h1>{pokemonStats.name}</h1>
  <h2>Stats</h2>
  <ul>
    <img src={pokemonDetails.sprites.front_default} />
    {pokemonStats.flavor_text_entries[0].flavor_text}
  </ul>
</main>
