---
import type { PokemonStats, PokemonDetails } from "../../types";
const { pokemonName } = Astro.params;

const data = await fetch(
  `https://pokeapi.co/api/v2/pokemon-species/${pokemonName}`
);
const pokemonStats: PokemonStats = await data.json();

const response = await fetch(
  `https://pokeapi.co/api/v2/pokemon/${pokemonName}`
);
const pokemonDetails: PokemonDetails = await response.json();
---

<main>
  <h1>{pokemonStats.name}</h1>
  <h2>Stats</h2>
  <ul>
      <img src={pokemonDetails.sprites.front_default} />
    {pokemonStats.flavor_text_entries[0].flavor_text}
  </ul>
</main>
